
<div style=' margin-top: 20px;margin-bottom: 20px;' fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button class="btn-primary" (click)="addEmployee()"> + Add Employee </button>
</div>
<app-grid [gridColumnHeaders]="gridColumnHeaders" [staticData]= "staticData">
</app-grid>