.custom-grid-container{margin: 0 16px;height: 100%;}
.gridToolbar-class{background: #fff;}
.add-border{
    border-color: rgba(0,0,0,.12);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin: 0px 16px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    height: 57px;
}
.add-border .mat-toolbar{
    height: 56px;
}
.width-100{ width: 100%; }
.mat-column-select {
    width: 60px;
    flex: inherit;
}
.grid-checkbox.mat-checkbox{
    height: 16px;
}
 .custom-header-row{
    background: #367de6 !important;
}

.custom-grid-container mat-header-cell {
    color: #fff;
    font-weight: 400;
}
/* .custom-grid-container mat-cell {
    min-height: 40px;
}
.PL-24{
    padding-left: 24px;
} */
::ng-deep .product-account {
    width: 450px;
    height: 250px;
    padding: 24px;
}
::ng-deep .product-account-menu{
    max-width: 450px;
}
::ng-deep .product-account-menu .mat-menu-content{
    padding: 0;
}
::ng-deep .cdk-overlay-pane{
    overflow: inherit;
}

.product-name {
    cursor: pointer;
 }
 
 .product-name:hover {
     text-decoration: underline !important;
 }

@media only screen and (min-width:1px) and (max-width:767px){
    
    .gridToolbar-class div {font-size: 18px;} 
    .gridToolbar-class{height: 40px;}

}