<div *ngIf="gridHeaderText" [ngClass]="addBorderHeader ? 'add-border' : ''">
    <mat-toolbar class="gridToolbar-class">
        <div class="PL-24">{{gridHeaderText}}</div>
    </mat-toolbar>
</div>
<div class="custom-grid-container">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" [matSortDisabled]="gridSortingDisabled">
        <ng-container *ngIf="enableRowSelection" matColumnDef="select">
            <mat-header-cell *matHeaderCellDef scope="">
                <mat-checkbox class="grid-checkbox" (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox class="grid-checkbox" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <div *ngFor="let column of gridColumnHeaders">        
            <ng-container [matColumnDef]="column.id">
                <mat-header-cell *matHeaderCellDef mat-sort-header scope=""> {{column.label}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <div *ngIf="!column.includeComponent && column.type !='date' && column.type !='date_time' && column.type != 'price' && column.type != 'link' && column.type != 'timeAgo' && column.type != 'product'"  class="width-100">
                        {{row[column.id]}} 
                    </div>
                    <div *ngIf="!column.includeComponent && column.type =='price'" class="width-100">
                        {{row[column.id]  | currency:'INR'}} 
                    </div>
                    <div *ngIf="!column.includeComponent && column.type =='date'" class="width-100">
                        {{row[column.id]  | date}} 
                    </div>
                    <div *ngIf="!column.includeComponent && column.type =='date_time'" class="width-100">
                        {{row[column.id]  | date:'medium'}} 
                    </div>
                    <div *ngIf="!column.includeComponent && column.type =='timeAgo'" class="width-100">
                        {{row[column.id]  | amTimeAgo}} 
                    </div>
                    <div *ngIf="!column.includeComponent && column.type =='link'" class="width-100">
                        <a [routerLink]="[column.route,row._id,'0']" >{{row[column.id]}} </a>
                    </div>
                    <div *ngIf="!column.includeComponent && column.type =='product'" class="width-100">
                        <span *ngFor="let product of row[column.id];let last = last">
                            <a [matMenuTriggerFor]="menu" class="product-name" (click)="productDetails = product">{{product.product}}</a><span *ngIf="!last">, </span>
                        </span>
                        <mat-menu #menu="matMenu" class="product-account-menu" [overlapTrigger]="false">
                            <div (click)="$event.stopPropagation()" class="product-account mat-table-scroll" >
                              <table class="table table-striped">
                                <thead>
                                  <th>Product Name</th>
                                  <th>Sale Price</th>
                                  <th>Tax</th>
                                  <th>Quantity</th>
                                  <th>Total</th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{productDetails.product}}</td>
                                    <td>{{productDetails.sale_price | currency:'INR'}}</td>
                                    <td>{{productDetails.tax}}</td>
                                    <td>{{productDetails.quantity}}</td>
                                    <td>{{productDetails.total | currency: 'INR'}}</td>
                                  </tr>
                                </tbody>
                          </table>
                            </div>
                        </mat-menu>          
                    </div>
                    <div *ngIf="column.includeComponent">
                        <p>
                          <grid-comp-include [component]="column.includeComponent" [data]="row" [column]="column" (dataFromComponent)="dataFromComponent($event)"></grid-comp-include>
                        </p>
                    </div>
                </mat-cell>
            </ng-container>
        </div>
        <div *ngIf="customColumns && customColumns.length > 0 && gridColumnHeaders.length > 0">
            <ng-container *ngFor="let column of customColumns" [matColumnDef]="column.title">
                <mat-header-cell *matHeaderCellDef scope="" class="custom-action-block"> {{column.title}} </mat-header-cell>
                <mat-cell *matCellDef="let row;let i =index" class="custom-action-block">
                    <div *ngIf="column.includeComponent">
                        <grid-comp-include [component]="column.includeComponent" [data]="row" (dataFromComponent)="dataFromComponent($event)" ></grid-comp-include>
                    </div> 
                    <div *ngIf="!column.includeComponent">

                        <div *ngIf="column.type==='button'">
                          <button  mat-raised-button *ngFor="let button of column.buttonsOrIcons" [disabled]="button.isDisabled" (click)="button.customColumnClkHandler(row)">
                            {{button.label}}
                          </button>
                        </div>
  
                        <div *ngIf="column.type==='icon'">
                          <button [matTooltip]="icon.tooltip" mat-icon-button *ngFor="let icon of column.buttonsOrIcons"  (click)="icon.customColumnClkHandler(row)">
                            <mat-icon [svgIcon]="icon.iconName"></mat-icon> 
                          </button>
                        </div> 
                        <div *ngIf="column.type==='fa-icon'">
                            <button [matTooltip]="icon.tooltip" mat-icon-button *ngFor="let icon of column.buttonsOrIcons"  (click)="icon.customColumnClkHandler(row)">
                                <i class="fa {{icon.iconName}}"></i>
                            </button>
                          </div>  
  
                    </div>
                </mat-cell>        
            </ng-container>
        </div>
        <mat-header-row *matHeaderRowDef="displayedColumns;" class="custom-header-row"></mat-header-row>
        <mat-row  class="custom-mat-row"  *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
    <mat-paginator #paginator [hidden]="hidePaginator" class="custom-paginator"
        (page)="pageEvent = getData($event)"
        [showFirstLastButtons]="showPaginationFirstLastButtons"
        [pageSize]="pageSize"
        [length]="resultsLength"
        [pageSizeOptions]="paginationLimitOptions" >

    </mat-paginator>
</div>