<h1> Add Employee</h1>
<div class="shadow-div setting-div" [formGroup]="detailsForm">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="45">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="fName">
            </mat-form-field> 
        </div>
        <div fxFlex="5"></div>
        <div fxLayout="column" fxFlex="45">
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lName">
            </mat-form-field> 
        </div>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="45">
            <mat-form-field appearance="outline">
                <mat-label>Designation</mat-label>
                <mat-select formControlName="designation">
                    <mat-option value="Dev">Dev</mat-option>
                    <mat-option value="QA">QA</mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div fxFlex="5"></div>
        <div fxLayout="column" fxFlex="45">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field> 
        </div>
    </div>
    <div>
        <button mat-raised-button type="submit"  class="btn-primary" (click)="saveEmployee()">Save</button>
        <button mat-raised-button type="submit"  class="btn-primary" (click)="cancel()">Cancel</button>
    </div>
</div>